@use '../breakpoints' as *;

.about-me{
  display: flex;
  z-index: 10;

  justify-content: center;
  gap: 34px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  
  @include breakpoint('large'){
    flex-direction: column;
  }
  @include breakpoint('small'){
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &__content{
    
    &--heading{
      display: block;
      font-size: 3.2rem;
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 12px;
    }

    p{
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: var(--text-color);
    }

    &--icons{
      margin-top: 33px;
      display: flex;
      gap: 24px;
    }
  }

  &__img{
    width: fit-content;
  }

}