

@use "../breakpoints" as *;

.contact-me {
	padding-top: 100px;
	padding-bottom: 100px;
	&__heading {
		display: block;
		text-align: center;
		font-size: 3.2rem;
		color: var(--primary-color);
		font-weight: bold;
		margin-bottom: 12px;
	}

	&__sub-heading {
		display: block;
		text-align: center;
		font-size: 1.8rem;
		line-height: 2.7rem;
		margin-bottom: 48px;
	}

	&__info {
		display: flex;
		gap: 6%;
		@include breakpoint("large") {
      flex-wrap: wrap;
      gap: 24px;
		}

		.contact-card {
			overflow: hidden;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 7px;
				height: 100%;
				background-color: var(--secondary-color);
			}
			flex-grow: 1;
			display: flex;
			align-items: center;
			gap: 15px;
			padding: 16px 24px;
			border-radius: 14px;
			background-color: #112240;
		}
	}
}
