@use "../breakpoints" as *;

.divider {
	position: absolute;
	top: 0;
	opacity: 0;
	@include breakpoint("medium") {
		top: 3px;
	}
	@include breakpoint("small") {
		top: 10px;
	}
	width: 100%;
	display: flex;
	align-items: center;
	transform: translateY(-25px);
	z-index: 10000000;

	&__text {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		text-transform: capitalize;
		padding-right: 30px;
		font-size: 4rem;
		font-weight: 800;
		background-color: transparent;
		white-space: nowrap;
		@include breakpoint('small'){
			font-size: 3rem;
		}
	}

	&__line1 {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		position: absolute;
		right: calc(100% + 30px);
		height: 2px;
		width: 100%;
		background-color: #ffff;
		opacity: 0.2;
		z-index: 10;
	}
	&__line2 {
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		height: 2px;
		width: 100%;
		transform: scaleX(2);
		transform-origin: left;
		background-color: #ffff;
		opacity: 0.2;
		z-index: 10;
	}
}
