@use '../breakpoints' as *;

.footer{
  margin-top: 62px;
  margin-bottom: 30px;

  @include breakpoint('small'){
    margin-top: 40px;;
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;

    &--logo{
      display: flex;
    align-items: center;
    gap: 6px;
    &-text{
      font-size: 2.4rem;
      color: var(--primary-color);
      padding-top: 8px;
    }
    }

    &--icons{
      a{
          &:not(:first-child){
            margin-left: 24px;
          }
      }
    }
  }

  &__copyright{
    margin-top: 36px;
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--text-color);
  }
}