.relative{
  position: relative;
}

.z-10{
  z-index: 10;
}

.z-full{
  z-index: 999999999;
}

.light-bg{
  background-color: var(--light-bg-color);
}

.top-pattern{
  position: absolute;
  top: 0;
  left: 0;
}
.bottom-pattern{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(-1);
}

.hidden{
  overflow: hidden;
}