@use '../breakpoints' as *;

.sub-heading{
  font-size:3.2rem ;
  color: var(--text-color);
  line-height: 3.8rem;
  display: block;
}

.heading1{
  font-size: 6.4rem;
  line-height: 7.7rem;

  @include customBreakpoint('1200px'){
    font-size: 5rem;
    line-height: 6.2rem;
  }
  
  @include breakpoint('medium'){
    font-size: 4rem;
    line-height: 5rem;
  }
  @include breakpoint('small'){
    font-size: 3.2rem;
    line-height: 4.7rem;
  }
}

.content{
  color: var(--text-color);
  font-size: 2.4rem;
  line-height: 3.6rem;
  display: block;
}