.header{
  // padding: 48px auto;
  padding-top: 48px ;
  padding-bottom: 48px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    display: flex;
    align-items: center;
    gap: 6px;
    &--text{
      font-size: 2.4rem;
      color: var(--primary-color);
      padding-top: 8px;
    }
  }

  .navs{
    display: flex;
    align-items: center;
    gap: 48px;
    &__nav-items{
      margin: 0;
      list-style: none;
      display: flex;
      gap: 8px;
  
      &--item{
        font-size: 2rem;
        padding: 1rem 2rem;
        display: inline-block;
      }
    }
  }
}