.header{
  margin: 48px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo{
    display: flex;
    align-items: center;
    gap: 6px;
    &--text{
      // font-size: 24px;
      font-size: 2.4rem;
      color: var(--primary-color);
    }
  }

  .navs{
    display: flex;
    align-items: center;
    gap: 48px;
    &__nav-items{
      margin: 0;
      list-style: none;
      display: flex;
      gap: 8px;
  
      &--item{
        font-size: 2rem;
        padding: 1rem 2rem;
        display: inline-block;
      }
    }
  }
}