.loading{
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-content: center;
  &__img{
    width: 200px;
    margin: auto;
  }

  &__text{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
  }
}