@use '../breakpoints' as  *;
.what-i-do{
  padding-top: 100px;
  margin-bottom: 147px;
  display: flex;
  gap: 30px;
  
  @include breakpoint('large'){
    flex-wrap: wrap;
  }
  @include breakpoint('small'){
    padding-top: 50px;
    margin-bottom:100px ;
  }
}