// fonts

// @font-face {
//   font-family: "calibre";
//   src: url(../assets/font/CalibreMedium.otf);
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "calibre";
//   src: url(../assets/font/CalibreBold.otf);
//   font-weight: bold;
//   font-style: normal;
// }

// Variables

:root{
  --bg-color: #0A192F;
  --primary-color: #FCD500;
  --secondary-color: #598EDC;
  --text-color: #D5E3F6;
  --light-bg-color: #112240;

}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'calibre', sans-serif;
  font-weight: normal;
  background-color: var(--bg-color);
  color: #fff;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.container{
  padding: 0 150px;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
